@model Cursos.Domain.Model.Curso

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EhAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EhAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtualizadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtualizadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EhDeletado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EhDeletado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
